// --------------------------------------------------
// Variables
// --------------------------------------------------

$heading-font-size: 1.294rem;
$radius: 4px;
$fedora-dark-blue: #294172;
$alt-font-family: 'Montserrat', sans-serif;


// Default discourse CSS variable overrides
:root {
  --font-family: 'Open Sans', sans-serif;
  --heading-font-family: var(--font-family);
  --primary-low: #b3b3b3;
  --primary-med-or-secondary-high: #8c8c8c;
}

// --------------------------------------------------
// Global
// --------------------------------------------------

html {
  font-size: 12pt;

  &.text-size-smaller {
    font-size: 13pt;
  }
  &.text-size-larger {
    font-size: 14pt;
  }
  &.text-size-largest {
    font-size: 15pt;
  }

  @media (min-width: 768px) {
    font-size: 13pt;

    &.text-size-smaller {
      font-size: 14pt;
    }
    &.text-size-larger {
      font-size: 15pt;
    }
    &.text-size-largest {
      font-size: 16pt;
    }
  }
}

// Change focus outline to be Fedora blue
*:focus { outline-color: $tertiary; }

body { line-height: 1.5; }

// --------------------------------------------------
// Tables
// --------------------------------------------------

thead tr {
  border-bottom: 1px solid #f8f8f8;
}

tbody {
  border-top: 10px solid #f8f8f8;
}


// --------------------------------------------------
// Buttons
// --------------------------------------------------

.btn {
  border-radius: $radius;

  .d-icon {
    color: currentColor;
    opacity: 1;
  }
}

// Discourse automatically creates a darker shade of $tertiary
// for primary btn hover, override to be Fedora dark blue
.discourse-no-touch .btn-primary:hover {
  background-color: $fedora-dark-blue;
}

#create-topic {
  background-color: $tertiary;
  color: $secondary;

  &:hover { background-color: $fedora-dark-blue; }

  svg { color: $secondary; }
}


// --------------------------------------------------
// Header
// --------------------------------------------------

.d-header {
  background-image: linear-gradient(#f5f5f5, #d1d1d1);
  box-shadow: none;
  height: 4.327rem;

  .header-buttons {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      font-family: $alt-font-family;
      font-size: 1.176rem;
      margin: 0 1.176rem 0 0;
    }
  }

  .d-header-icons { margin: 0; }
}

.header-link {
  color: #555753;

  &:visited { color: #555753; }
  
  &:not(:last-child) { margin-right: 1.412rem; }
}

.d-header .login-button {
  margin-left: 0;
  padding: 9px 12px;

  .d-icon { display: none; }
}

.d-header-icons {
  .icon {
    color: $header_primary;

    &:focus,
    &:hover {
      background-color: transparent;

      .d-icon { color: $tertiary; }
    }
  }

  .d-icon { color: inherit; }
}

.drop-down-mode .d-header-icons .active .icon .d-icon { color: $tertiary; }


// --------------------------------------------------
// Banner
// --------------------------------------------------

.banner {
  background-image: linear-gradient(#b4e7f6, #00c7ff);
  display: flex;
  font-family: $alt-font-family;
  position: relative;

  &::before {
    content: '';
    padding-top: 42%;

    @media (min-width: 480px) { padding-top: 38%; }

    @media (min-width: 620px) { padding-top: 25%; }
  }

  @media (min-width: 768px) { margin-bottom: 20px; }
}

.banner-inner {
  align-items: center;
  background-image: url($banner-background);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.75rem 0 0;
  width: 100%;

  @media (min-width: 620px) {
    align-items: flex-start;
    background-size: cover;
    justify-content: center;
    padding: 0 25%;
  }
}

.banner-title {
  font-family: inherit;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.75rem;

  // @media (min-width: 768px) { font-size: 40pt; }

  @media (min-width: 1024px) {
    font-size: 3.647rem;
    margin-bottom: 2rem;
  }
}

.banner-btn {
  align-items: center;
  background-image: url($banner-arrow);
  background-position: 86% 50%;
  background-repeat: no-repeat;
  background-size: 18px 20px;
  display: inline-flex;
  font-family: inherit;
  font-size: 1.176rem;
  padding-right: 46px;

  .discourse-no-touch & {
    &:hover {
      background-image: url($banner-arrow);
      background-position: 86% 50%;
      background-repeat: no-repeat;
      background-size: 18px 20px;
    }
  }
}

.banner-dismiss {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  font-size: $heading-font-size;
  padding: 0;
  position: absolute;
  right: 0.5em;
  top: 0.5em;

  &:focus { color: $tertiary; }

  @media (min-width: 768px) {
    right: 1.176rem;
    top: 1.176rem;
  }
}


// --------------------------------------------------
// Main
// --------------------------------------------------

.homepage #main-outlet { padding-top: 0; }


// --------------------------------------------------
// Nav
// --------------------------------------------------

.list-controls {
  .combo-box .combo-box-header {
    border-color: $tertiary;
    border-radius: $radius;
    padding: 2px 0.25em 2px 0.5em;
  }

  .btn {
    font-size: 1rem;
    padding: 8px 12px;
  }

  .nav-pills {
    > li {
      border-color: $tertiary;
      border-radius: $radius;
    }

    .drop li:first-child {
      margin-top: 0;
    }
  }
}

.nav-pills > li > a {
  border-radius: $radius;
  font-size: 1rem;
  padding: 8px 12px;

  &.active,
  &:focus,
  &:hover {
    color: $primary;
  }
}

.select-kit.combo-box .select-kit-body {
  border: 1px solid var(--primary-low);
  border-top: 0;
}

.list-controls .select-kit .select-kit-collection {
  font-size: 1rem;
}

// --------------------------------------------------
// Category/Topic Lists
// --------------------------------------------------

.category-list tbody .category h3 {
  font-size: $heading-font-size;
  font-weight: 700;
  line-height: 1.25;
}

.category-list-item h3, .category-list-item h4, .subcategory-list-item h3, .subcategory-list-item h4 {
  padding-left: 0;
}

.list-cell,
.table-heading,
.topic-list th,
.topic-list td,
.category-list td,
.category-list th {
  padding: 1.176rem 0.5rem;
}

.topic-list th:first-of-type,
.topic-list td:first-of-type {
  padding-left: 0.5rem;
}

.category-list td:first-of-type {
  padding-left: 1.176rem;
}

.categories-list .category .category-description,
.category-list .featured-topic:first-of-type {
  margin-top: 1rem;
}

.topic-list-main-link,
.topic-list .main-link,
.latest-topic-list-item .main-link,
.category-list .topics .value {
  font-size: 1rem;
  line-height: 1.25;

  @media (min-width: 768px) {
    font-size: $heading-font-size;
  }
}

.topic-list .link-bottom-line,
.category-list .subcategories {
  font-size: 1rem;
  margin-top: 1.176rem;
}


// --------------------------------------------------
// Badges/Tags
// --------------------------------------------------

.badge-wrapper {
  align-items: center;
  font-size: 1rem;

  &.bullet {
    margin-right: 20px;

    span.badge-category {
      color: $tertiary;
    }

    .badge-category-parent-bg,
    .badge-category-bg {
      height: 14px;
      width: 14px;
    }

    .badge-category-parent-bg {
      width: 7px;
    }
    
    .badge-category-parent-bg + .badge-category-bg {
      width: 7px;
    }
  }
}

.topic-list-item.visited a.discourse-tag,
.latest-topic-list-item.visited a.discourse-tag,
.category-topic-link.visited a.discourse-tag {
  background-color: #dedede;
  color: #4c4c4c;
  padding: 3px 7px;
}

.topic-list-item .discourse-tags {
  font-size: 1rem;
}

.discourse-tag.simple {
  color: $tertiary;

  &:hover,
  &:visited {
    color: $fedora-dark-blue;
  }
}

.list-tags {
  font-size: 1rem;
}


// --------------------------------------------------
// Topic
// --------------------------------------------------

#topic-title {
  margin-bottom: 1.176rem;

  h1 {
    margin: 0 0 1.176rem;
  }
}

.post-stream .topic-post:first-child {
  .topic-avatar,
  .topic-body {
    border-top: 10px solid #f8f8f8;
  }
}

.topic-avatar {
  padding-top: calc(1.176rem + 3px);
}

.topic-body {
  padding: 1.176rem 0 0;
}