// --------------------------------------------------
// Variables
// --------------------------------------------------

$radius: 4px;
$fedora-dark-blue: #294172;

// Default discourse CSS variable overrides
:root {
  --font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Montserrat', sans-serif;
}

// --------------------------------------------------
// Global
// --------------------------------------------------

// Change focus outline to be Fedora blue
*:focus { outline-color: $tertiary; }


// --------------------------------------------------
// Buttons
// --------------------------------------------------

.btn {
  border-radius: $radius;

  .d-icon {
    color: currentColor;
    opacity: 1;
  }
}

// Discourse automatically creates a darker shade of $tertiary
// for primary btn hover, override to be Fedora dark blue
.discourse-no-touch .btn-primary:hover {
  background-color: $fedora-dark-blue;
}

#create-topic {
  background-color: $tertiary;
  color: $secondary;

  &:hover {
    background-color: $fedora-dark-blue;
  }
}

// --------------------------------------------------
// Header
// --------------------------------------------------

.d-header {
  background-image: linear-gradient(#f5f5f5, #d1d1d1);
  box-shadow: none;
  height: 5em;

  .header-buttons {
    margin: 0 20px 0 0;
  }
}

.header-links {
  font-size: $font-up-1;
  list-style: none;
  margin: 0;

  &:not(:last-child) {
    margin-right: 20px;
  }

  a {
    color: #555753;
  }
}

.login-button {
  font-size: $font-up-1;
  padding: 6px 10px;

  .d-icon {
    display: none;
  }
}

.d-header-icons {
  .icon {
    color: $header_primary;

    &:focus,
    &:hover {
      background-color: transparent;

      .d-icon {
        color: $tertiary;
      }
    }
  }

  .d-icon {
    color: inherit;
  }
}

.drop-down-mode .d-header-icons .active .icon .d-icon {
  color: $tertiary;
}


// --------------------------------------------------
// Main
// --------------------------------------------------

.homepage #main-outlet {
  padding-top: 0;
}


// --------------------------------------------------
// Nav
// --------------------------------------------------

.list-controls .combo-box .combo-box-header {
  border-color: $tertiary;
  border-radius: $radius;
}

.nav-pills > li > a {
  border-radius: $radius;

  &.active,
  &:focus,
  &:hover {
    color: $primary;
  }
}