// --------------------------------------------------
// Banner
// --------------------------------------------------

.banner {
  background-image: linear-gradient(#b4e7f6, #00c7ff);
  display: flex;
  margin-bottom: 20px;
  min-height: 320px;
}

.banner-inner {
  background-image: url($banner-background);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 25% 0;
  width: 100%;
}

.banner-title {
  font-size: 3.75em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 35px;
}

.banner-btn {
  align-items: center;
  display: inline-flex;
  font-size: $font-up-1;

  .d-icon {
    margin: 0 0 0 0.45em;
  }
}