// --------------------------------------------------
// Banner
// --------------------------------------------------

.banner {
  background-image: linear-gradient(#b4e7f6, #00c7ff);
  display: flex;
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: '';
    padding-top: 25%;
  }
}

.banner-inner {
  align-items: flex-start;
  background-image: url($banner-background);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 25%;
  width: 100%;
}

.banner-title {
  font-size: 2.75em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1rem;

  @media (min-width: 1024px) {
    font-size: 3.75em;
    margin-bottom: 2rem;
  }
}

.banner-btn {
  align-items: center;
  background-image: url($banner-arrow);
  background-position: 86% 50%;
  background-repeat: no-repeat;
  background-size: 18px 20px;
  display: inline-flex;
  font-size: $font-up-1;
  padding-right: 46px;

  .discourse-no-touch & {
    &:hover {
      background-image: url($banner-arrow);
      background-position: 86% 50%;
      background-repeat: no-repeat;
      background-size: 18px 20px;
    }
  }
}

.banner-dismiss {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0;
  font-size: 1.5em;
  position: absolute;
  right: 1rem;
  top: 1rem;

  &:focus {
    color: $tertiary;
  }
}